In [2]:
import pandas as pd
import numpy as np
import h5py
import os
import torch

In [3]:
train_test = 'train'
emb_path = f"amex_emb/{train_test}_batch/"
emb_path = f"amex_emb/{train_test}/"
file_path = os.path.join(emb_path, f"4.h5")
embeddings_stack = []

with h5py.File(file_path, 'r') as hf:
    data = hf['stacked_embeddings'][:]
    tensor = torch.from_numpy(data)
    embeddings_stack.append(tensor.squeeze(0))

data.shape

(220, 768)

In [6]:
train_test = 'train'
emb_path = f"ETTm1/24/{train_test}"
file_path = os.path.join(emb_path, f"4.h5")
embeddings_stack = []

with h5py.File(file_path, 'r') as hf:
    data = hf['embeddings'][:]
    tensor = torch.from_numpy(data)
    embeddings_stack.append(tensor.squeeze(0))

data.shape

(7, 768)

In [4]:
input_path = '../../000_data/amex/13month_0.1pct'
test_series_idx = pd.read_feather(f'{input_path}/df_nn_series_idx_test.feather')

test_series_idx

    min  max  feature_idx
0     0   12            0
1    13   25            1
2    26   38            2
3    39   51            3
4    52   64            4
..  ...  ...          ...
68  884  896           68
69  897  909           69
70  910  922           70
71  923  935           71
72  936  948           72

[73 rows x 3 columns]

In [8]:
test_y = pd.read_csv(f'{input_path}/test_labels.csv')
test_y['target']

0     0
1     0
2     1
3     0
4     0
     ..
68    1
69    0
70    0
71    0
72    0
Name: target, Length: 73, dtype: int64

In [20]:
input_path = '../../000_data/amex/13month_0.1pct'
train_series     = pd.read_feather(f'{input_path}/df_nn_series_train.feather')
train_series_idx = pd.read_feather(f'{input_path}/df_nn_series_idx_train.feather').values
train_y = pd.read_csv(f'{input_path}/train_labels.csv')

In [21]:
train_series.shape

(2834, 222)

In [22]:
train_series_idx.shape

(218, 3)

In [23]:
train_y.shape

(218, 2)

In [24]:
train_series.head(2)

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,oneHot_D_64_3,oneHot_D_66_0.0,oneHot_D_66_100.0,oneHot_D_68_0.0,oneHot_D_68_100.0,oneHot_D_68_200.0,oneHot_D_68_300.0,oneHot_D_68_400.0,oneHot_D_68_500.0,oneHot_D_68_600.0
0,000f8675ede66cc6affd4c048db11a00246d7ee623f453...,2017-03-20,0.71,0.0,0.00,0.81,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.01,0.0
1,000f8675ede66cc6affd4c048db11a00246d7ee623f453...,2017-04-19,0.71,0.0,0.01,0.81,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.01,0.0

In [1]:
# train_series_idx

In [26]:
len(train_series_idx)

218

In [27]:
train_series.iloc[0:12+1,1:]['S_2']

0     2017-03-20
1     2017-04-19
2     2017-05-20
3     2017-06-19
4     2017-07-20
5     2017-08-19
6     2017-09-19
7     2017-10-20
8     2017-11-18
9     2017-12-20
10    2018-01-20
11    2018-02-17
12    2018-03-20
Name: S_2, dtype: object